html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

p{
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
}

*{
  font-family: 'i Itikad Baik', sans-serif;                                             
}
